@font-face {
    font-family: ArcadeClassic;
    src: url(ARCADECLASSIC.TTF);
}

:root{
    --bg_color: #2d2d2d;
    --nav_2nd: #232121;
    --nav_1st: #cacdcf;
    --font:  #e0a13c;
    --popup_bg: #000a;

    --lb_border: 1px solid var(--nav_1st);
    --lb_height: 25px;

    --login_img: url(../graphics/nav/login1.png);
    --login_img_hover: url(../graphics/nav/login2.png);
    --bpm_img: url(../graphics/nav/note1.png);
    --lb_img: url(../graphics/nav/trophy1.png);
    --lb_img_hover: url(../graphics/nav/trophy2.png);
    --settings_img: url(../graphics/nav/cog1.png);
    --settings_img_hover: url(../graphics/nav/cog2.png);
    
}
::-webkit-scrollbar{
    cursor: pointer;
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--nav_2nd);
}
::-webkit-scrollbar-thumb {
    background: var(--nav_1st);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(243, 243, 243);
}

body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;   
    clear: both; 
    background: var(--bg_color);
    width: 100vw;
    height: 100vh;
    font-family: ArcadeClassic;
}
#popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: #0003;
}
#popup > div{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 40%;
    height: 60%;
    z-index: 5;
    background-color: var(--popup_bg);
}
#popup .header{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    width: 100%;
}
#popup .header span{
    grid-column: 2;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    color: var(--font);
}
#popup #popup_close{
    cursor: pointer;
    grid-column: 3;
    margin: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 21px;
    color: var(--nav_1st);
    background-color: transparent;
    border: none;
    z-index: 6;
}
#popup #popup_close:hover{
    background-color: var(--nav_1st);
    color: var(--nav_2nd);
}
/* LOGIN */
#popup .form{
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;

}
#popup .form label{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    color: var(--font);
    font-size: 30px;
    
}
#popup .form label input[type="text"]{
    height: 20px;
    width: 100%;
}
#popup .form input[type="button"]{
    align-self: center;
    margin-top: 10px;
    height: 25px;
    width: 200px;
    color: var(--nav_2nd);
    text-transform: uppercase;

}
#popup .form .swap{
    cursor: pointer;
    margin-top: 5px;
    color: var(--font);
    font-size: 20px;

}
/* CUSTOMIZE */
#popup .customize_section > div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    width: 80%;
}
#popup .customize_section span{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    color: var(--font);
}
#popup .customize_section .selected{
    box-shadow: inset 0px 0px 5px 7px var(--font) ;
}
#popup .customize_section > div > div{
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: var(--nav_1st);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
}
#popup .customize_section > div > div:nth-child(1){
    margin-left: 20px;
}
#popup .customize_section > div > div > div{
    display: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#popup .customize_section > div > div:hover > div{   /* po najechaniu button jest podświetlany */         
    display: block;
    background-color: #cacdcf70;
}
#popup .best_score{
    display: block;
    margin: 5px 0px;
    width: 100%;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--font);
}
#popup .lb{
    align-self: center;
    padding: 0px;
    width: 80%;
    border-collapse: collapse;
    border-right: var(--lb_border);
}
#popup .lb th, #popup .lb tr{
    display: grid;
    grid-template-columns: 30px 1fr 100px;
    padding: 0px;
    height: var(--lb_height);
    width: 100%;
    text-align: center;
    line-height: var(--lb_height);
    font-size: 20px;
    color: var(--nav_1st);
    border: var(--lb_border);
}
#popup .lb th td{ 
    padding: 0px;
    display: block; 
    height: var(--lb_height);
    color: var(--font);
    border: var(--lb_border);
}
#popup .lb tr td{ 
    padding: 0px;

    border: var(--lb_border);

}
#popup .slider{
    user-select: none;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
    width: 70%;
    height: 63px;
    text-align: center;
    background-color: transparent;
}
#popup .slider span{
    display: inline-block;
    height: 30px;
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--font);
}
#popup .slider_slide{
    justify-self: center;
    margin-top: 20px;
    height: 3px;
    width: 100%;       /*do SASS 100% - 20px z kółek */       
    background-color: rgb(101, 99, 99);
}
#popup .slider_circle{  
    position: relative;
    bottom: 10px;
    left: 50px;     /* w połowie rodzica */
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: var(--font);
    z-index: 6;
}
#popup .slider:hover .slider_slide{
    background-color: var(--nav_1st);
}
#popup .slider:hover .slider_circle{
    background-color: #e3be83;
}
#popup .clock{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    flex-basis: 100%;
    margin-right: 10%;
    width: 80%;

}
#popup .clock div{
    margin-bottom: 10px;
    align-self: flex-end;
    height: 30px;
    color: var(--nav_1st);
    font-size: 30px;
}   

nav{
    display: grid;
    margin: 0px;
    width: 100%;
    height: 90px;
    background: #118822;
    grid-template-columns: 0px 80px 80px 1fr 160px 160px 1fr 80px 80px 0px;
    grid-template-rows: 0px 80px 0px;
    gap: 5px;
}
nav div{
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    background: var(--nav_2nd);
    color: var(--nav_1st);
    grid-row: 2;
}
nav div:hover{
    background: var(--nav_1st);
    color: var(--nav_2nd);
}
nav #login{
    grid-column: 2;
    background-image: var(--login_img);
}
nav #login:hover{
    background-image: var(--login_img_hover);
}
nav #customize{  
    grid-column: 3;
}
nav #bpm{
    box-sizing: border-box;  
    padding-left: 25px;         /* to zmienić jakoś w sassie albo js */       
    cursor: default;
    grid-column: 5;
    text-align: justify;
    background-image: var(--bpm_img);
    background-repeat: no-repeat;
    background-position: 110%;
}
nav #bpm:hover{
    background: var(--nav_2nd);    /* getting rid of the changeing colors while hovering */    
    color: var(--nav_1st);
    background-image: var(--bpm_img);
    background-repeat: no-repeat;
    background-position: 110%;
}
nav #score{
    cursor: default;
    grid-column: 6;
}
nav #score:hover{
    background: var(--nav_2nd);     /* getting rid of the changeing colors while hovering */
    color: var(--nav_1st);
}
nav #lb{
    grid-column: 8;
    background-image: var(--lb_img);
}
nav #lb:hover{
    background-image: var(--lb_img_hover);
}
nav #options{
    grid-column: 9;
    background-image: var(--settings_img);
}
nav #options:hover{
    background-image: var(--settings_img_hover);
}
main{
    margin: 0px;
    width: 100%;
    height: auto;
}
main canvas{
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: var(--bg_color);
}
