@font-face {
    font-family: ArcadeClassic;
    src: url(ARCADECLASSIC.TTF);
}

:root{
    --nav_2nd: #232121;
    --nav_1st: #cacdcf;
    --border:  #e0a13c;
    /* 2px solid */
}

body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;   
    clear: both; 
    background: #aaa;
    width: 100vw;
    height: 100vh;
}
#popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: #0003;
}
#popup > div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    z-index: 5;
    background-color: #000a;
}
#popup #popup_close{
    cursor: pointer;
    align-self: end;
    margin: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 21px;
    color: var(--nav_1st);
    background-color: transparent;
    border: none;
    z-index: 6;
}
#popup #popup_close:hover{
    background-color: var(--nav_1st);
    color: var(--nav_2nd);
}
#popup .slider{
    user-select: none;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
    width: 70%;
    height: 63px;
    background-color: transparent;
}
#popup .slider span{
    height: 20px;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--border);
}
#popup .slider_slide{
    justify-self: center;
    margin-top: 20px;
    height: 3px;
    width: 100%;       /* 100% - 20px z kółek */       
    background-color: rgb(101, 99, 99);
}
#popup .slider_circle{  
    position: relative;
    bottom: 10px;
    left: 50px;     /* w połowie rodzica */
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: var(--border);
    z-index: 6;
}
#popup .slider:hover .slider_slide{
    background-color: var(--nav_1st);
}
#popup .slider:hover .slider_circle{
    background-color: #e3be83;
}
nav{
    display: grid;
    margin: 0px;
    width: 100%;
    height: 90px;
    background: #118822;
    font-family: ArcadeClassic;
    grid-template-columns: 0px 80px 80px 1fr 160px 160px 1fr 80px 80px 0px;
    grid-template-rows: 0px 80px 0px;
    gap: 5px;
}
nav div{
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    background: var(--nav_2nd);
    color: var(--nav_1st);
    grid-row: 2;
}
nav div:hover{
    background: var(--nav_1st);
    color: var(--nav_2nd);
}
nav #login{
    grid-column: 2;
    background-image: url(../graphics/login1.png);
}
nav #login:hover{
    background-image: url(../graphics/login2.png);
}
nav #customize{  
    grid-column: 3;
}
nav #bpm{
    cursor: default;
    grid-column: 5;
}
nav #bpm:hover{
    background: var(--nav_2nd);    /* getting rid of the changeing colors while hovering */    
    color: var(--nav_1st);
}
nav #score{
    cursor: default;
    grid-column: 6;
}
nav #score:hover{
    background: var(--nav_2nd);     /* getting rid of the changeing colors while hovering */
    color: var(--nav_1st);
}
nav #lb{
    grid-column: 8;
    background-image: url(../graphics/trophy1.png);
}
nav #lb:hover{
    background-image: url(../graphics/trophy2.png);
}
nav #options{
    grid-column: 9;
    background-image: url(../graphics/cog1.png);
}
nav #options:hover{
    background-image: url(../graphics/cog2.png);
}
main{
    margin: 0px;
    width: 100%;
    height: auto;
}

