@font-face {
    font-family: ArcadeClassic;
    src: url(ARCADECLASSIC.TTF);
}

body{
    padding: 0px;
    margin: 0px;   
    clear: both; 
    background: #aaa;
    width: 100vw;
    height: 100vh;
}
nav{
    display: grid;
    margin: 0px;
    width: 100%;
    height: 90px;
    background: #118822;
    font-family: ArcadeClassic;
    grid-template-columns: 0px 80px 80px 1fr 160px 160px 1fr 80px 80px 0px;
    grid-template-rows: 0px 80px 0px;
    gap: 5px;
}
nav div{
    height: 100%;
    width: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    background: #454545;
    grid-row: 2;
}
nav #login{
    grid-column: 2;
}
nav #characters{  
    grid-column: 3;
}
nav #bpm{
    grid-column: 5;
}
nav #score{
    grid-column: 6;
}
nav #lb{
    grid-column: 8;
}
nav #options{
    grid-column: 9;
}
main{
    margin: 0px;
    width: 100%;
    height: auto;
}

